<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="defaultPattern"
              value="[%d{dd/MMM/yyyy:HH:mm:ss Z, GMT}] [%-12.12thread] %-5level [ %-40.40logger{40} ] -
%X{username} %X{req.remoteHost} %X{req.xForwardedFor} %X{req.method} %X{req.requestURI} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>

    </appender>

    <jmxConfigurator/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.springframework" level="INFO"/>
    <logger name="pl.p.lodz.iis.hr" level="DEBUG"/>

    <logger name="org.pac4j.springframework.web" level="DEBUG"/>

    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.hibernate.type" level="INFO"/>
</configuration>
