<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- // @formatter:off  -->
<header th:fragment="header">
    <pre class="text-center">
<span class="header-h">##     ##</span> ######## ##       ##        #######    <span class="header-r">######## </span> ######## ##     ## #### ######## ##      ##
<span class="header-h">##     ##</span> ##       ##       ##       ##     ##   <span class="header-r">##     ##</span> ##       ##     ##  ##  ##       ##  ##  ##
<span class="header-h">##     ##</span> ##       ##       ##       ##     ##   <span class="header-r">##     ##</span> ##       ##     ##  ##  ##       ##  ##  ##
<span class="header-h">#########</span> ######   ##       ##       ##     ##   <span class="header-r">######## </span> ######   ##     ##  ##  ######   ##  ##  ##
<span class="header-h">##     ##</span> ##       ##       ##       ##     ##   <span class="header-r">##   ##  </span> ##        ##   ##   ##  ##       ##  ##  ##
<span class="header-h">##     ##</span> ##       ##       ##       ##     ##   <span class="header-r">##    ## </span> ##         ## ##    ##  ##       ##  ##  ##
<span class="header-h">##     ##</span> ######## ######## ########  #######    <span class="header-r">##     ##</span> ########    ###    #### ########  ###  ###<span>&nbsp;</span>
    </pre>
</header>
<!-- // @formatter:on  -->

</body>
</html>
