<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- // @formatter:off  -->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="'HR - ' + ${#httpServletRequest.requestURI}"></title>

    <meta name="description" content="HelloReview: A system for peer review of application source code."/>
    <meta name="author" content="180254"/>

    <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta th:if="${_csrf != null}" name="_csrf_parameterName" th:content="${_csrf.parameterName}"/>
    <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" th:href="@{/favicon.ico?}"/>

    <link rel="stylesheet" th:href="@{/lib/bootstrap.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" th:href="@{/lib/bootstrap-theme.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css"/>-->
    <link rel="stylesheet" th:href="@{/lib/font-awesome.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/lib/bootstrap-social.css}" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css"/>
    <link rel="stylesheet" th:href="@{/lib/bootstrap-slider.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.6/css/bootstrap-slider.min.css"/>
    <link rel="stylesheet" th:href="@{/lib/bootstrap-editable.css}" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"/>
    <link rel="stylesheet" th:href="@{/lib/toastr.min.css/}" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>

    <script defer="defer" th:src="@{/lib/jquery.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script defer="defer" th:src="@{/lib/bootstrap.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script defer="defer" th:src="@{/lib/bootstrap-slider.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.6/bootstrap-slider.min.js"></script>
    <script defer="defer" th:src="@{/lib/bootstrap-editable.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script defer="defer" th:src="@{/lib/bootstrap-confirmation.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.min.js"></script>
    <script defer="defer" th:src="@{/lib/autosize.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.13/autosize.min.js"></script>
    <script defer="defer" th:src="@{/lib/toastr.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>

    <script defer="defer"                     th:src="@{/js/a-ajax-loader.js}"></script>
    <script defer="defer"                     th:src="@{/js/a-plugins-options.js}"></script>
    <script defer="defer"                     th:src="@{/js/a-form-enhancer.js}"></script>
    <script defer="defer"                     th:src="@{/js/a-utils.js}"></script>


    <script defer="defer" th:if="${isMaster}" th:src="@{/js/b-add.js}"></script>
    <script defer="defer" th:if="${isMaster}" th:src="@{/js/b-delete.js}"></script>
    <script defer="defer" th:if="${isMaster}" th:src="@{/js/b-rename.js}"></script>
    <script defer="defer" th:if="${isMaster}" th:src="@{/js/c-close.js}"></script>
    <script defer="defer" th:if="${isMaster}" th:src="@{/js/c-retry.js}"></script>

    <script defer="defer" th:if="${isPeer}"   th:src="@{/js/d-form.js}"></script>

</head>
    <!-- // @formatter:on  -->
</html>
