<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="nav">
    <ul class="nav nav-tabs">
        <li th:class="${#httpServletRequest.requestURI.equals('/')} ? active : ''"
            role="presentation">
            <a href="/">Main page</a>
        </li>

        <li th:if="${isLoggedIn and isMaster}"
            th:class="${#httpServletRequest.requestURI.startsWith('/m/courses')} ? active : ''"
            role="presentation">
            <a href="/m/courses">Courses and so on</a>
        </li>

        <li th:if="${isLoggedIn and isMaster}"
            th:class="${#httpServletRequest.requestURI.startsWith('/m/forms')} ? active : ''"
            role="presentation">
            <a href="/m/forms">Forms</a>
        </li>

        <li role="presentation"
            th:if="${isLoggedIn and !isMaster}"
            th:class="${#httpServletRequest.requestURI.equals('/p')} ? active : ''">
            <a href="/p">Peer</a>
        </li>

        <li role="presentation"
            th:if="${isLoggedIn}"
            class="navbar-right">
            <a href="/logout?url=/">Logout&nbsp;&nbsp;</a>
        </li>

    </ul>
</nav>

</body>
</html>
