<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="nav">
    <ul class="nav nav-tabs">
        <li role="presentation"
            th:class="${#httpServletRequest.requestURI.equals('/')} ? active : ''">
            <a href="/">Main page</a>
        </li>

        <li role="presentation" class="dropdown"
            th:if="${isLoggedIn and isMaster}"
            th:classappend="${#httpServletRequest.requestURI.startsWith('/m/forms')} ? active : ''">

            <a class="dropdown-toggle" data-toggle="dropdown"
               href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Forms <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li role="presentation">
                    <a href="/m/forms">List existing</a>
                </li>
                <li role="presentation">
                    <a href="/m/forms/add">Add new one</a>
                </li>
            </ul>
        </li>

        <li role="presentation"
            th:if="${isLoggedIn and !isMaster}"
            th:class="${#httpServletRequest.requestURI.equals('/p')} ? active : ''">
            <a href="/p">Peer</a>
        </li>

        <li role="presentation"
            th:if="${isLoggedIn}"
            class="navbar-right">
            <a href="/logout?url=/">Logout&nbsp;&nbsp;</a>
        </li>

    </ul>
</nav>

</body>
</html>
