/*                      noscript, old browser       */
.not-for-you {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100%;
    width: 100%;
    background-color: #000000;
    padding-top: 2em;
    font-size: 2.5em;
    color: floralwhite;
    font-weight: bold;

    filter: Alpha(opacity=95);
    opacity: 0.95;
}

/*                      header                      */
header pre {
    font-size: 9px;
}

.header-h {
    color: blue;
}

.header-r {
    color: red;
}

/*                      ajax-loader                 */
#ajax-loader {
    position: fixed;
    left: 50%;
    top: 50%;
    display: none;
}

/*                      navbar                      */

@media (min-width: 768px) {
    .navbar-right {
        right: 2em;
    }
}

/*                      general                     */
main {
    margin-top: 1em;
}

/*                login/github button               */
.main-hello .social-button1 {
    width: 300px;
}

.main-hello .username {
    color: rgb(203, 218, 0);
}

/*                toastr                            */
#toast-container {
    margin-top: 2em;
}

/*                displaying form                   */
.form-main .form-description {
    margin-bottom: 15px;
    border: 8px solid rgba(240, 173, 78, 0.25);
    font-size: 1.35em;
    padding: 1em;
}

.form-main .question-text {
    padding-bottom: 0.5em;
    font-size: 1.3em;
    color: darkmagenta;
}

.form-main .form-group {
    margin-bottom: 15px;
    border: 1px solid #CCC;
    padding: 1em;
}

.form-main .input-2 {
    padding: 1em;
}

.form-main .input-scale-b {
    padding-left: 1.3em;
    padding-right: 1.3em;
}

.form-main .form-submit {
    margin-top: 1em;
    margin-bottom: 10em;
}

.form-main .form-submit button {
    width: 80%;
    font-size: 1.15em;
    padding: 0.4em;
}

.form-main .form-required {
    color: red;
}

.form-main .forms-buttons-add-preview {
    font-family: monospace;
}

.form-main .forms-buttons-add-preview button {
    width: 300px;
}

.form-main .form-add-ajax-info {
    margin-top: 1em;
}

.form-main #form-add-error,
.form-main #form-add-preview-url {
    display: none;
}
