<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container main-hello text-center">

    <div id="sth-went-wrong">
        <span class="status" th:text="#{github.issue.status}"></span><br/>
        <span class="message2" th:text="#{github.issue.message2}"></span><br/>
        <img src="" th:src="@{/images/sth-went-wrong.png}" alt=""/><br/>
    </div>

</main>

</body>
</html>
