<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>HelloReview</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
          crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css"/>

    <link rel="stylesheet" th:href="@{/css/custom.css}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
</head>
<body>

<header>
    <pre class="text-center">
<span class="header-h">##     ##</span> ######## ##       ##        #######    <span class="header-r">######## </span> ######## ##     ## #### ######## ##      ##
<span class="header-h">##     ##</span> ##       ##       ##       ##     ##   <span class="header-r">##     ##</span> ##       ##     ##  ##  ##       ##  ##  ##
<span class="header-h">##     ##</span> ##       ##       ##       ##     ##   <span class="header-r">##     ##</span> ##       ##     ##  ##  ##       ##  ##  ##
<span class="header-h">#########</span> ######   ##       ##       ##     ##   <span class="header-r">######## </span> ######   ##     ##  ##  ######   ##  ##  ##
<span class="header-h">##     ##</span> ##       ##       ##       ##     ##   <span class="header-r">##   ##  </span> ##        ##   ##   ##  ##       ##  ##  ##
<span class="header-h">##     ##</span> ##       ##       ##       ##     ##   <span class="header-r">##    ## </span> ##         ## ##    ##  ##       ##  ##  ##
<span class="header-h">##     ##</span> ######## ######## ########  #######    <span class="header-r">##     ##</span> ########    ###    #### ########  ###  ###<span> </span>
    </pre>
</header>

<main class="main-hello text-center">
    <div th:if="${isLoggedIn == false}" class="github-button center-block">
        <a class="btn btn-block btn-social btn-github" href="/login">
            <i class="fa fa-github"></i>
            <span th:text="#{main.signin}"></span>
        </a>
    </div>

    <div th:if="${isLoggedIn and isMaster}" class="github-button center-block">
        <a class="btn btn-block btn-social btn-reddit" href="/master">
            <i class="fa fa-github"></i>
            <span th:text="#{main.go}"></span>
            <span th:text="#{main.forMaster}"></span>
        </a>
    </div>

    <div th:if="${isLoggedIn and !isMaster}" class="github-button center-block">
        <a class="btn btn-block btn-social btn-reddit" href="/master">
            <i class="fa"></i>
            <span th:text="#{main.go}"></span>
            <span th:text="#{main.forPeers}"></span>
        </a>
    </div>

    <div th:if="${isLoggedIn}" class="github-button center-block">
        <a class="btn btn-block btn-social btn-github" href="/logout?url=/">
            <i class="fa fa-github"></i>
            [<span th:text="${username}" class="username"></span>] <span th:text="#{main.logout}"></span>
        </a>
    </div>
</main>

</body>
</html>