<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<main class="main-hello text-center">
    <div th:if="${isLoggedIn == false}" class="github-button center-block">
        <a class="btn btn-block btn-social btn-github" href="/login">
            <i class="fa fa-github"></i>
            <span th:text="#{main.signin}"></span>
        </a>
    </div>

    <div th:if="${isLoggedIn and isMaster}" class="github-button center-block">
        <a class="btn btn-block btn-social btn-reddit" href="/master">
            <i class="fa fa-github"></i>
            <span th:text="#{main.go}"></span>
            <span th:text="#{main.forMaster}"></span>
        </a>
    </div>

    <div th:if="${isLoggedIn and !isMaster}" class="github-button center-block">
        <a class="btn btn-block btn-social btn-reddit" href="/master">
            <i class="fa"></i>
            <span th:text="#{main.go}"></span>
            <span th:text="#{main.forPeers}"></span>
        </a>
    </div>

    <div th:if="${isLoggedIn}" class="github-button center-block">
        <a class="btn btn-block btn-social btn-github" href="/logout?url=/">
            <i class="fa fa-github"></i>
            [<span th:text="${username}" class="username"></span>] <span th:text="#{main.logout}"></span>
        </a>
    </div>
</main>

</body>
</html>