<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container main-hello text-center">

    <div id="sth-go-wrong">
        <span class="status" th:text="#{login.issue.status}"></span><br/>
        <span class="message2">
            <span th:text="#{login.issue.message2.part1}"></span>
            <a th:href="@{/}" th:text="#{login.issue.message2.part2}"></a>
            <span th:text="#{login.issue.message2.part3}"></span>
        </span><br/>

        <img src="" th:src="@{/images/sth-go-wrong.png}" alt=""/><br/>
    </div>

</main>

</body>
</html>
