<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container">
    <div th:replace="fragments/ajax :: ajax-loader"></div>

    <h4 th:if="${addon_forReview != null and addon_forReview == true}" class="pre-table-addon">
        <span th:utext="#{m.commissions.table.head.addon.forReview}"></span>
        <a th:href="@{/m/reviews/{reviewID}(reviewID=${review.id})}">
            <strong th:text="${review.name}"></strong>
        </a>
    </h4>

    <h4 th:if="${addon_oneCommission != null and addon_oneCommission == true}" class="pre-table-addon">
        <span th:utext="#{m.commissions.table.head.addon.oneCommission}"></span>
    </h4>

    <h4 th:if="${addon_forParticipant!= null and addon_forParticipant == true}" class="pre-table-addon">
        <span th:utext="#{m.commissions.table.head.addon.forParticipant}"></span>
        <a th:href="@{/m/reviews/participants/{participantID}(participantID=${participant.id})}">
            <strong th:text="${participant.name}"></strong>
        </a>(<a th:href="@{/m/courses/{participantID}(paericipantID=${participant.id})}"><strong
            th:text="${participant.course.name}"></strong></a>)
    </h4>

    <h4 th:if="${addon_failed != null and addon_failed == true}" class="pre-table-addon">
        <span th:utext="#{m.commissions.table.head.addon.failed}"></span>
    </h4>


    <table class="table table-hover">
        <thead>
        <tr>
            <th th:utext="#{m.commissions.thead.id}"></th>
            <th><i class="fa fa-eye"></i>&nbsp;<span th:utext="#{m.commissions.thead.review}"></span></th>
            <th><i class="fa fa-eye"></i>&nbsp;<span th:utext="#{m.commissions.thead.assessor}"></span></th>
            <th><i class="fa fa-eye"></i>&nbsp;<span th:utext="#{m.commissions.thead.assessed}"></span></th>
            <th th:utext="#{m.commissions.thead.status}"></th>
            <th><i class="fa fa-refresh"></i>&nbsp;<span th:utext="#{m.commissions.thead.retry}"></span></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="commission : ${commissions}" class="commission-one">

            <td th:text="${commission.id}" th:title="${commission.uuid}"></td>

            <td>
                <a th:href="@{m/reviews/{reviewID}(reviewID=${commission.review.id})}">
                    <span th:text="${commission.review.name}"></span>
                </a>
            </td>

            <td th:if="${commission.assessor != null}">
                <a th:href="@{/m/courses/participants/{assesorID}(assesorID=${commission.assessor.id})}">
                    <span th:text="${commission.assessor.name}"></span>
                </a>
            </td>
            <td th:if="${commission.assessor == null}">&nbsp;</td>

            <td>
                <a th:href="@{/m/courses/participants/{assesedID}(assessedID=${commission.assessed.id})}">
                    <span th:text="${commission.assessed.name}"></span>
                </a>
            </td>

            <td th:utext="#{${commission.status.localeCode}}" th:class="${commission.status.cssClass}"></td>

            <td th:if="${commission.status.shouldBeRetried(retryButtonEnabled)}">
                <a href="#" class="commission-retry"
                   th:attr="data-retry-url=@{/m/reviews/commissions/retry}, data-id=${commission.id}"
                   th:utext="#{m.commissions.tbody.retry}">
                </a>
            </td>
            <td th:if="${commission.status.shouldBeRetried(retryButtonEnabled) == false}">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>
