<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container">
    <div th:replace="fragments/ajax :: ajax-loader"></div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{m.courses.thead.id}"></th>
            <th th:text="#{m.courses.thead.course.name}"></th>
            <th><i class="fa fa-eye"></i> <span th:text="#{m.courses.thead.participants}"></span></th>
            <th><i class="fa fa-eye"></i> <span th:text="#{m.courses.thead.reviews}"></span></th>
            <th><i class="fa fa-eraser"></i> <span th:text="#{m.courses.thead.delete}"></span></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.id}"></td>

            <td>
                <a href="#" class="course-rename-link b-rename-link"
                   data-type="text" th:text="${course.name}"
                   data-th-attr="data-url=@{/m/courses/rename}, data-pk=${course.id}">
                </a>
            </td>

            <td>
                <a th:href="'/m/courses/'+ ${course.id} + '/participants'" target="_blank">
                    <strong th:text="${course.participants.size()}"></strong>
                    <span th:text="#{m.courses.tbody.participants}"></span>
                </a>
            </td>

            <td>
                <a th:href="'/m/courses/'+ ${course.id} + '/reviews'" target="_blank">
                    <strong th:text="${course.reviews.size()}"></strong>
                    <span th:text="#{m.courses.tbody.reviews}"></span>
                </a>
            </td>

            <td><a href="#"
                   class="course-delete-link"
                   data-th-attr="data-title=#{m.courses.delete.title},
                           data-btnOkLabel=#{m.courses.delete.btnOkLabel},
                           data-btnCancelLabel=#{m.courses.delete.btnCancelLabel}"
                   data-btnOkClass="btn btn-sm btn-danger"
                   th:text="#{m.courses.tbody.delete}"></a></td>
        </tr>
        </tbody>
    </table>

    <div class="add-new text-right">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#course-add"
                th:text="#{m.courses.tbody.add.new.one}">
        </button>
    </div>

    <div class="modal fade" id="course-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" th:text="#{m.courses.add.title}"></h4>
                </div>

                <div class="modal-body">
                    <form id="course-add-form">
                        <input th:if="${_csrf != null}" type="hidden" th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>

                        <div class="form-group">
                            <label for="course-name">Course name</label>
                            <input type="text" class="form-control" id="course-name" name="course-name"
                                   th:placeholder="#{m.courses.add.placeholder}"/>
                        </div>
                    </form>
                </div>

                <div id="course-add-error" class="form-add-ajax-info alert alert-danger" role="alert">
                    <h4 th:text="#{m.courses.add.validation.header}"></h4>
                    <ul id="course-add-error-list">
                    </ul>
                </div>

                <div class="modal-footer">
                    <button id="course-add-button-close" type="button" class="btn btn-default" data-dismiss="modal"
                            th:text="#{m.courses.add.button.close}">
                    </button>
                    <button id="course-add-button-submit" type="button" class="btn btn-primary"
                            th:text="#{m.courses.add.button.submit}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
