<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container">
    <div th:replace="fragments/ajax :: ajax-loader"></div>

    <h4 th:if="${addon_oneForm != null and addon_oneForm == true}" class="pre-table-addon">
        <span th:utext="#{m.forms.table.head.addon.oneForm}"></span>
    </h4>

    <table class="table table-hover">
        <thead>
        <tr>
            <th th:utext="#{m.forms.thead.id}"></th>
            <th th:utext="#{m.forms.thead.form.name}"></th>
            <th><i class="fa fa-eye"></i>&nbsp;<span th:utext="#{m.forms.thead.preview}"></span></th>
            <th><i class="fa fa-eye"></i>&nbsp;<span th:utext="#{m.forms.thead.reviews}"></span></th>
            <th><i class="fa fa-eraser"></i>&nbsp;<span th:utext="#{m.forms.thead.delete}"></span></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="form : ${forms}">
            <td th:text="${form.id}"></td>

            <td>
                <a href="#" class="form-rename-link b-rename-link"
                   data-type="text" th:text="${form.name}"
                   data-th-attr="data-url=@{/m/forms/rename}, data-pk=${form.id}">
                </a>
            </td>

            <td>
                <a th:href="@{/m/forms/preview/{formID}(formID=${form.id})}" th:utext="#{m.forms.tbody.as.html}"></a>,
                <a th:href="@{/m/forms/xml/{formID}(formID=${form.id})}" th:utext="#{m.forms.tbody.as.xml}"></a>
            </td>

            <td>
                <a th:href="@{/m/reviews/for/form/{formID}(form=${form.id})}">
                    <span th:utext="#{m.forms.tbody.reviews(${form.reviews.size()})}"></span>
                </a>
            </td>

            <td>
                <a href="#"
                   class="form-delete-link b-delete-link"
                   th:attr="
                        data-delete-url=@{/m/forms/delete},
                        data-id=${form.id},
                        data-title=#{m.forms.delete.title},
                        data-btnOkLabel=#{m.forms.delete.btnOkLabel},
                        data-btnCancelLabel=#{m.forms.delete.btnCancelLabel}"
                   data-btnOkClass="btn btn-sm btn-danger"
                   th:utext="#{m.forms.tbody.delete}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${newButton}" class="add-new text-right">
        <a class="btn btn-default" th:href="@{/m/forms/add}" th:utext="#{m.forms.tbody.add.new.one}" role="button"></a>
    </div>
</main>

</body>
</html>
