<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container form-main">

    <form>
        <div class="form-description" th:utext="${form.description}"></div>

        <div class="form-group" th:each="question : ${form.questions}">
            <h2 class="question-text" th:utext="${question.questionText}"></h2>
            <span th:utext="${question.extraText}"></span>

            <div class="input" th:each="input : ${question.inputs}">

                <div class="input-2"
                     th:if="${input instanceof T(pl.p.lodz.iis.hr.models.forms.questions.InputScale)}">
                    <label th:for="'input' + ${input.id}" th:utext="${input.label}"></label>
                    <br/> <b class="input-scale-b" th:utext="${input.fromLabel}"></b>
                    <input class="slider"
                           th:id="'input' + ${input.id}"
                           data-th-attr="data-slider-min=${input.fromS},
                               data-slider-max=${input.toS},
                               data-slider-value=${(input.toS - input.fromS)/2}"
                           data-slider-step="1"/>
                    <b class="input-scale-b" th:utext="${input.toLabel}"></b>
                </div>

                <div class="input-2"
                     th:if="${input instanceof T(pl.p.lodz.iis.hr.models.forms.questions.InputText)}">
                    <label th:for="'input' + ${input.id}" th:utext="${input.label}"></label>
                    <textarea th:id="'input' + ${input.id}" class="form-control" rows="2" maxlength="1024"></textarea>
                    <h6 class="pull-right t-letter-counter"></h6>
                </div>
            </div>

        </div>

        <div class="form-submit text-center">
            <button class="btn btn-default btn-info">Submit</button>
        </div>

    </form>

</main>
</body>
</html>