<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{m.forms.thead.id}"></th>
            <th th:text="#{m.forms.thead.form.name}"></th>
            <th><i class="fa fa-eye"></i> <span th:text="#{m.forms.thead.preview}"></span></th>
            <th><i class="fa fa-eraser"></i> <span th:text="#{m.forms.thead.delete}"></span></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="form : ${forms}">
            <td th:text="${form.id}"></td>
            <td th:text="${form.name}"></td>
            <td><a th:href="'/m/forms/preview/'+ ${form.id}" th:text="#{m.forms.tbody.as.html}" target="_blank"></a>,
                <a th:href="'/m/forms/xml/'+ ${form.id}" th:text="#{m.forms.tbody.as.xml}" target="_blank"></a></td>
            <td><a href="#"
                   class="form-delete-link"
                   data-th-attr="data-title=#{m.forms.delete.title},
                           data-btnOkLabel=#{m.forms.delete.btnOkLabel},
                           data-btnCancelLabel=#{m.forms.delete.btnCancelLabel}"
                   data-btnOkClass="btn btn-sm btn-danger"
                   th:text="#{m.forms.tbody.delete}"></a></td>
        </tr>
        </tbody>
    </table>

    <div class="add-new text-right">
        <a class="btn btn-default" th:href="@{/m/forms/add}" th:text="#{m.forms.tbody.add.new.one}" role="button"></a>
    </div>
</main>

</body>
</html>
