<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container form-main">
    <div th:replace="fragments/ajax :: ajax-loader"></div>

    <form id="form-add-form"
          th:attr="data-add-url=@{/m/forms/add}, data-forms-url=@{/m/forms}, data-preview-url=@{/m/forms/preview/}">

        <input th:if="${_csrf != null}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div id="form-add-form-body" class="form-group">

            <div class="input-2">
                <label for="form-name">
                    <span th:utext="#{m.forms.add.form.name}"></span>
                    <span class="form-required">*</span>
                </label>
                <input type="text" class="form-control" name="form-name" id="form-name" autofocus="autofocus"/>
            </div>

            <div class="input-2">
                <label for="form-xml">
                    <span th:utext="#{m.forms.add.form.xml}"></span>
                    <span class="form-required">*</span>
                </label>
                <a href="xml/example" th:utext="#{m.forms.add.form.example}"></a>
                <textarea class="form-control" rows="20" name="form-xml" id="form-xml" maxlength="100000"></textarea>
            </div>

            <div id="form-add-error" class="input-2 form-add-ajax-info alert alert-danger" role="alert">
                <h4 th:utext="#{m.forms.add.validation.header}"></h4>
                <ul id="form-add-error-list">
                </ul>
            </div>

            <div id="form-add-preview-url" class="input-2 form-add-ajax-info alert alert-info" role="alert">
                <span th:utext="#{m.forms.add.validation.preview.url}"></span>
                <a class="alert-link" href="/">/</a>
            </div>
        </div>

        <div class="form-submit forms-buttons-add-preview">
            <button type="button" id="form-add-button-preview" class="btn btn-default btn-info"
                    th:utext="#{m.forms.add.button.preview}"></button>

            <button type="button" id="form-add-button-add" class="btn btn-default btn-primary"
                    th:utext="#{m.forms.add.button.add}"></button>
        </div>
    </form>

</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
