<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container form-main">
    <div th:replace="fragments/ajax :: ajax-loader"></div>

    <form id="form-add-form" class="form-group" method="post">
        <input th:if="${_csrf != null}" type="hidden" th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>

        <div class="input-2">
            <label for="form-name">Form name <span class="form-required">*</span></label>
            <input type="text" class="form-control" name="form-name" id="form-name"/>
        </div>

        <div class="input-2">
            <label for="form-xml">Form XML <span class="form-required">*</span></label>
            <a href="xml/example" target="_blank">(example)</a>
            <textarea class="form-control" rows="20" name="form-xml" id="form-xml" maxlength="100000"></textarea>
        </div>

        <div id="form-add-error" class="input-2 form-add-ajax-info alert alert-danger" role="alert">
            <h4>Validation errors</h4>
            <ul id="form-add-error-list">
            </ul>
        </div>

        <div id="form-add-preview-url" class="input-2 form-add-ajax-info alert alert-info" role="alert">
            Preview is available on: <a class="alert-link" href="/" target="_blank">/</a>
        </div>
    </form>


    <div class="form-submit forms-buttons-add-preview">
        <button id="form-add-button-preview" class="btn btn-default btn-info">Preview form</button>
        <button id="form-add-button-add" class="btn btn-default btn-primary">Add form</button>
    </div>

</main>

</body>
</html>
