<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container">
    <div th:replace="fragments/ajax :: ajax-loader"></div>

    <h4 th:if="${addon_allParticipants != null and addon_allParticipants == true}" class="pre-table-addon">
        <a th:href="@{/m/courses/{courseID}(courseID=${course.id})}">
            <strong th:text="${course.name}"></strong></a><span
            th:utext="#{m.participants.table.head.addon.allParticipants}"></span>
    </h4>

    <h4 th:if="${addon_oneParticipant != null and addon_oneParticipant == true}" class="pre-table-addon">
        <a th:href="@{/m/courses/{courseID}(courseID=${course.id})}">
            <strong th:text="${course.name}"></strong></a><span
            th:utext="#{m.participants.table.head.addon.oneParticipant}"></span>
    </h4>

    <table class="table table-hover">
        <thead>
        <tr>
            <th th:utext="#{m.participants.thead.id}"></th>
            <th th:utext="#{m.participants.thead.name}"></th>
            <th th:utext="#{m.participants.thead.github.name}"></th>
            <th><i class="fa fa-eye"></i>&nbsp;<span th:utext="#{m.participants.thead.commissions}"></span></th>
            <th><i class="fa fa-eraser"></i>&nbsp;<span th:utext="#{m.participants.thead.delete}"></span></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="participant : ${participants}" class="participant-one">
            <td th:text="${participant.id}"></td>

            <td>
                <a href="#" class="participant-name-rename-link b-rename-link"
                   data-type="text" th:text="${participant.name}"
                   data-th-attr="data-url=@{/m/courses/participants/rename/name}, data-pk=${participant.id}">
                </a>
            </td>

            <td>
                <a href="#" class="participant-github-name-rename-link b-rename-link"
                   data-type="text" th:text="${participant.gitHubName}"
                   data-th-attr="data-url=@{/m/courses/participants/rename/github-name}, data-pk=${participant.id}">
                </a>
            </td>

            <td>
                <a th:href="@{/m/reviews/commissions/for/participant/{partiID}(partiID=${participant.id})}">
                    <span th:utext="#{m.participants.tbody.commissions
                    (${participant.commissionsAsAssessor.size()})}"></span>
                </a>
            </td>

            <td>
                <a href="#"
                   class="course-participant-delete-link b-delete-link"
                   th:attr="
                        data-delete-url=@{/m/courses/participants/delete},
                        data-id=${participant.id},
                        data-title=#{m.participants.delete.title},
                        data-btnOkLabel=#{m.participants.delete.btnOkLabel},
                        data-btnCancelLabel=#{m.participants.delete.btnCancelLabel}"
                   data-btnOkClass="btn btn-sm btn-danger"
                   th:utext="#{m.courses.tbody.delete}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${newButton}" class="add-new text-right">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#course-participant-add"
                th:utext="#{m.participants.tbody.add.new.one}">
        </button>
    </div>

    <div th:if="${newButton}" class="modal fade" id="course-participant-add">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" th:utext="#{m.participants.add.title}"></h4>
                </div>

                <div class="modal-body"
                     th:attr="data-add-url=@{/m/courses/participants/add}">

                    <form id="course-participant-add-form">
                        <input type="hidden" name="course-id" th:value="${course.id}"/>
                        <input th:if="${_csrf != null}" type="hidden" th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>

                        <div class="form-group">
                            <label for="participant-name"
                                   th:utext="#{m.participants.add.input.participant.name.label}">
                            </label>
                            <input type="text"
                                   class="form-control"
                                   id="participant-name" name="participant-name"
                                   th:attr="data-add-url=@{/m/courses/participants/add}"
                                   th:placeholder="#{m.participants.add.input.participant.name.placeholder}"/>
                        </div>

                        <div class="form-group">
                            <label for="participant-github-name"
                                   th:utext="#{m.participants.add.input.github.name.label}">
                            </label>
                            <input type="text"
                                   class="form-control"
                                   id="participant-github-name" name="participant-github-name"
                                   th:attr="data-add-url=@{/m/courses/participants/add}"
                                   th:placeholder="#{m.participants.add.input.github.name.placeholder}"/>
                        </div>
                    </form>
                </div>

                <div id="course-participant-add-error" class="form-add-ajax-info alert alert-danger" role="alert">
                    <h4 th:utext="#{m.participants.add.validation.header}"></h4>
                    <ul id="course-participant-add-error-list">
                    </ul>
                </div>

                <div class="modal-footer">
                    <button id="course-participant-add-button-close" type="button" class="btn btn-default"
                            data-dismiss="modal"
                            th:utext="#{m.participants.add.button.close}">
                    </button>

                    <button id="course-participant-add-button-submit" type="button" class="btn btn-primary"
                            th:attr="data-add-url=@{/m/courses/participants/add}"
                            th:utext="#{m.participants.add.button.submit}">
                    </button>
                </div>
            </div>
        </div>
    </div>

</main>

</body>
</html>
