<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container form-main">
    <div th:replace="fragments/ajax :: ajax-loader"></div>

    <form id="form-review-add" th:action="@{/m/reviews/add}" method="post">

        <div id="form-review-body" class="form-group">
            <div class="input-2">
                <label for="review-add-course">Course</label>

                <select id="review-add-course" name="review-add-course" class="form-control">
                    <option th:each="course : ${courses}"
                            th:value="${course.id}"
                            th:text="${course.name}">
                    </option>
                </select>
            </div>

            <div class="input-2">
                <label for="review-add-form">Form</label>

                <select id="review-add-form" name="review-add-form" class="form-control">
                    <option th:each="form : ${forms}"
                            th:value="${form.id}"
                            th:text="${form.name}">
                    </option>
                </select>
            </div>

            <div class="input-2">
                <label for="review-add-repository">Repository</label>

                <select id="review-add-repository" name="review-add-form" class="form-control">
                    <!--<option th:each="repository : ${ghRepositories}"-->
                    <!--th:value="${repository.ownerName} + '/' + ${repository.name}"-->
                    <!--th:text="${repository.ownerName} + '/' + ${repository.name}">-->
                    <!--</option>-->
                </select>
            </div>

        </div>

        <div class="form-submit forms-buttons-2">
            <button id="review-add-submit" type="submit" class="btn btn-default btn-primary">Create review</button>
        </div>
    </form>
</main>

</body>
</html>
