<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container">
    <div th:replace="fragments/ajax :: ajax-loader"></div>

    <h4 th:if="${addon_oneReview != null and addon_oneReview == true}" class="pre-table-addon">
        <span th:text="#{m.reviews.table.head.addon.oneReview}"></span>
    </h4>

    <h4 th:if="${addon_forCourse!= null and addon_forCourse == true}" class="pre-table-addon">
        <span th:text="#{m.reviews.table.head.addon.forCourse}"></span>
        <a th:href="'/m/courses/'+ ${course.id}">
            <strong th:text="${course.name}"></strong>
        </a>
    </h4>

    <h4 th:if="${addon_forForm!= null and addon_forForm == true}" class="pre-table-addon">
        <span th:text="#{m.reviews.table.head.addon.forForm}"></span>
        <a th:href="'/m/forms/'+ ${form.id}">
            <strong th:text="${form.name}"></strong>
        </a>
    </h4>

    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{m.reviews.thead.id}"></th>
            <th th:text="#{m.reviews.thead.name}"></th>
            <th><i class="fa fa-eye"></i>&nbsp;<span th:text="#{m.reviews.thead.course}"></span></th>
            <th><i class="fa fa-eye"></i>&nbsp;<span th:text="#{m.reviews.thead.form}"></span></th>
            <th><i class="fa fa-eye"></i>&nbsp;<span th:text="#{m.reviews.thead.repository}"></span></th>
            <th th:text="#{m.reviews.thead.comm.per.peer}"></th>
            <th><i class="fa fa-eye"></i>&nbsp;<span th:text="#{m.reviews.thead.commissions}"></span></th>
            <th><i class="fa fa-eye"></i>&nbsp;<span th:text="#{m.reviews.thead.responses}"></span></th>
            <th><i class="fa fa-eraser"></i>&nbsp;<span th:text="#{m.reviews.thead.delete}"></span></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="review : ${reviews}">
            <td th:text="${review.id}"></td>

            <td>
                <a href="#" class="form-rename-link b-rename-link"
                   data-type="text" th:text="${review.name}"
                   data-th-attr="data-url=@{/m/reviews/rename}, data-pk=${review.id}">
                </a>
            </td>

            <td>
                <a th:href="'/m/courses/'+ ${review.course.id}">
                    <span th:text="${review.course.name}"></span>
                </a>
            </td>

            <td>
                <a th:href="'/m/forms/'+ ${review.form.id}">
                    <span th:text="${review.form.name}"></span>
                </a>
            </td>

            <td>
                <a th:href="${'https://github.com/'+review.repository}" th:text="${review.repository}"></a>
            </td>


            <td th:text="${review.commPerPeer}"></td>

            <td>
                <a th:href="'/m/reviews/'+ ${review.id} + '/commissions'">
                    <strong th:text="${review.commissions.size()}"></strong>
                    <span th:text="#{m.reviews.tbody.commissions}"></span>
                </a>
            </td>

            <td>
                0/10 responses
            </td>

            <td>
                <a href="#"
                   class="review-delete-link b-delete-link"
                   th:attr="
                        data-delete-url=@{/m/reviews/delete},
                        data-id=${review.id},
                        data-title=#{m.reviews.delete.title},
                        data-btnOkLabel=#{m.reviews.delete.btnOkLabel},
                        data-btnCancelLabel=#{m.reviews.delete.btnCancelLabel}"
                   data-btnOkClass="btn btn-sm btn-danger"
                   th:text="#{m.courses.tbody.delete}"></a>
            </td>

        </tr>
        </tbody>
    </table>

    <div th:if="${newButton}" class="add-new text-right">
        <a class="btn btn-default btn-xs" th:href="@{/m/reviews/commissions/failed}"
           th:text="#{m.reviews.tbody.commissions.failed}" role="button"></a><br/>
        <a class="btn btn-default" th:href="@{/m/reviews/add}"
           th:text="#{m.reviews.tbody.add.new.one}" role="button"></a>
    </div>
</main>

</body>
</html>
