<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container form-main">
    <div th:replace="fragments/ajax :: ajax-loader"></div>

    <form id="review-add-form"
          th:object="${f}"
          th:attr="data-add-url=@{/m/reviews/add}, data-reviews-url=@{/m/reviews}">

        <input th:if="${_csrf != null}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <input id="review-add-ignore-warning" name="ignoreWarning" value="0" type="hidden"/>

        <div id="review-add-form-body" class="form-group">

            <div class="input-2">
                <label for="review-add-name" th:utext="#{m.reviews.add.name.label}"></label>

                <input type="text"
                       class="form-control"
                       id="review-add-name" th:field="*{name}"
                       th:placeholder="#{m.reviews.add.name.placeholder}"
                       autofocus="autofocus"/>
            </div>

            <div class="input-2">
                <label for="review-add-resp-per-peer" th:utext="#{m.reviews.add.comm.per.peer.label}"></label>

                <input type="number" min="1" max="10"
                       class="form-control"
                       id="review-add-resp-per-peer" th:field="*{respPerPeer}"
                       th:placeholder="#{m.reviews.add.comm.per.peer.placeholder}"/>
            </div>

            <div class="input-2">
                <label for="review-add-course" th:utext="#{m.reviews.add.course}"></label>

                <select id="review-add-course" th:field="*{courseID}" class="form-control">
                    <option th:each="course : ${courses}"
                            th:value="${course.id}"
                            th:text="${course.name}">
                    </option>
                </select>
            </div>

            <div class="input-2">
                <label for="review-add-form-2" th:utext="#{m.reviews.add.form}"></label>

                <select id="review-add-form-2" th:field="*{formID}" class="form-control">
                    <option th:each="form : ${forms}"
                            th:value="${form.id}"
                            th:text="${form.name}">
                    </option>
                </select>
            </div>

            <div class="input-2">
                <label for="review-add-repository" th:utext="#{m.reviews.add.repository}"></label>

                <select id="review-add-repository" th:field="*{repositoryFullName}" class="form-control"
                        th:attr="data-repolist-url=@{/m/reviews/add/repo-list}">
                </select>
            </div>

            <div id="review-add-warning" class="course-add-ajax-info alert alert-warning" role="alert">
                <h4>
                    <strong id="review-add-warning-part1">0</strong>
                    <span th:utext="#{m.reviews.add.warning.part1}"></span>
                    <br/>

                    <strong id="review-add-warning-part2-of1">0</strong>
                    <span th:utext="#{m.reviews.add.warning.part2.of}"></span>
                    <strong id="review-add-warning-part2-of2">0</strong>
                    <span th:utext="#{m.reviews.add.warning.part2}"></span>
                </h4>

                <ul id="review-add-warning-list">
                </ul>
                <br/>

                <h4>
                    <span th:utext="#{m.reviews.add.warning.part3}"></span>
                </h4>
            </div>

            <div id="review-add-error" class="course-add-ajax-info alert alert-danger" role="alert">
                <h4 th:utext="#{m.reviews.add.validation.header}"></h4>

                <ul id="review-add-error-list">
                </ul>
            </div>

        </div>

        <div class="form-submit forms-buttons-2">
            <button th:utext="#{m.reviews.add.button.submit}"
                    id="review-add-submit" type="submit" class="btn btn-default btn-primary">
            </button>
        </div>

    </form>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
