<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container form-main">
    <div th:replace="fragments/ajax :: ajax-loader"></div>

    <form id="review-add-form">

        <input th:if="${_csrf != null}" type="hidden" th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>

        <div id="review-add-form-body" class="form-group">

            <div class="input-2">
                <label for="review-add-name" th:text="#{m.reviews.add.name.label}"></label>

                <input type="text"
                       class="form-control"
                       id="review-add-name" name="review-add-name"
                       th:placeholder="#{m.reviews.add.name.placeholder}"/>
            </div>

            <div class="input-2">
                <label for="review-add-resp-per-peer" th:text="#{m.reviews.add.resp.per.peer.label}"></label>

                <input type="number" min="1" max="10"
                       class="form-control"
                       id="review-add-resp-per-peer" name="review-add-resp-per-peer"
                       th:placeholder="#{m.reviews.add.resp.per.peer.placeholder}"/>
            </div>

            <div class="input-2">
                <label for="review-add-course" th:text="#{m.reviews.add.course}"></label>

                <select id="review-add-course" name="review-add-course" class="form-control">
                    <option th:each="course : ${courses}"
                            th:value="${course.id}"
                            th:text="${course.name}">
                    </option>
                </select>
            </div>

            <div class="input-2">
                <label for="review-add-form-2" th:text="#{m.reviews.add.form}"></label>

                <select id="review-add-form-2" name="review-add-form" class="form-control">
                    <option th:each="form : ${forms}"
                            th:value="${form.id}"
                            th:text="${form.name}">
                    </option>
                </select>
            </div>

            <div class="input-2">
                <label for="review-add-repository" th:text="#{m.reviews.add.repository}"></label>

                <select id="review-add-repository" name="review-add-repository" class="form-control">
                </select>
            </div>

            <div id="review-add-error" class="course-add-ajax-info alert alert-danger" role="alert">
                <h4 th:text="#{m.reviews.add.validation.header}"></h4>

                <ul id="review-add-error-list">
                </ul>
            </div>

        </div>

        <div class="form-submit forms-buttons-2">
            <button th:text="#{m.reviews.add.button.submit}"
                    id="review-add-submit" type="submit" class="btn btn-default btn-primary">
            </button>
        </div>

    </form>
</main>

</body>
</html>
