<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container">
    <ul>
        <li th:utext="${ghRateLimit}"></li>

        <li>
            <span th:utext="#{m.stats.cache.enabled(${cacheEnabled})}"></span>

            <a th:href="@{/m/stats/cache-switch}"
               th:utext="#{m.stats.cache.switch}">
            </a>
        </li>

        <li>
            <span th:utext="#{m.stats.cache.size(${cacheSizeMB}, ${cacheMaxSizeMB})}"></span>

            <a th:if="${scheduledTasksCnt == 0}"
               th:href="@{/m/stats/clean/cache-dir}"
               th:utext="#{m.stats.cacheDir.clean}">
            </a>
        </li>

        <li th:utext="#{m.stats.cache.percent(${cacheHitPercent})}"></li>

        <li th:utext="#{m.stats.submitted(${submittedTasksCnt})}"></li>

        <li th:utext="#{m.stats.scheduled(${scheduledTasksCnt})}"></li>

        <li>
            <span th:utext="#{m.stats.processing(${processingTasksCnt})}"></span>

            <a th:href="@{/m/reviews/commissions/failed}"
               th:utext="#{m.stats.processing.view}">
            </a>
        </li>

        <li>
            <span th:utext="#{m.stats.junkRepo(${junkRepoCnt})}"></span>

            <a th:if="${scheduledTasksCnt == 0 and junkRepoCnt > 0}"
               th:href="@{/m/stats/clean/junk-repo}"
               th:utext="#{m.stats.junkRepo.clean}">
            </a>
        </li>

        <li>
            <span th:utext="#{m.stats.tempDir(${junkTempDirCnt})}"></span>

            <a th:if="${scheduledTasksCnt == 0 and junkTempDirCnt > 0}"
               th:href="@{/m/stats/clean/temp-dir}"
               th:utext="#{m.stats.tempDir.clean}">
            </a>
        </li>

    </ul>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
