<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container">
    <p th:text="${rateLimit}"></p>

    <p th:utext="#{m.stats.cache(${okCacheHitPercent})}"></p>

    <p th:utext="#{m.stats.submitted(${submitted})}"></p>

    <p th:utext="#{m.stats.notCompleted(${notCompleted})}"></p>

    <p>
        <span th:utext="#{m.stats.processing}"></span>
        <a th:href="@{/m/reviews/commissions/failed}" th:text="${processing}"></a>
    </p>

    <p>
        <span th:utext="#{m.stats.junkRepo(${junkRepoCnt})}"></span>

        <a th:if="${notCompleted == 0 and junkRepo > 0}"
           th:href="@{/m/stats/junk-clean/repo}"
           th:utext="#{m.stats.junkRepo.clean}">
        </a>
    </p>

    <p>
        <span th:utext="#{m.stats.junkTempDir(${junkTempDirCnt})}"></span>

        <a th:if="${notCompleted == 0 and junkTempDirCnt > 0}"
           th:href="@{/m/stats/junk-clean/temp-dir}"
           th:utext="#{m.stats.junkTempDir.clean}">
        </a>
    </p>

</main>

</body>
</html>
