<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<noscript th:replace="fragments/noscript :: noscript"></noscript>
<div th:replace="fragments/nooldie :: nooldie"></div>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container">
    <p th:text="${rateLimit}"></p>

    <p>
        <span th:text="#{m.stats.cache(${okCacheHitPercent})}"></span>
    </p>

    <p>
        <span th:text="#{m.stats.submitted}"></span>
        <span th:text="${submitted}"></span>
    </p>

    <p>
        <span th:text="#{m.stats.notCompleted}"></span>
        <span th:text="${notCompleted}"></span>
    </p>

    <p>
        <span th:text="#{m.stats.processing}"></span>
        <a th:href="@{/m/reviews/commissions/failed}"
           th:text="${processing}">
        </a>
    </p>

    <p>
        <span th:text="#{m.stats.junkRepo}"></span>
        <span th:text="${junkRepo}"></span>

        <a th:if="${notCompleted == 0 and junkRepo > 0}"
           th:href="@{/m/stats/junkclean/repo}"
           th:text="#{m.stats.junkRepo.clean}">
        </a>
    </p>

    <p>
        <span th:text="#{m.stats.junkTempDir}"></span>
        <span th:text="${junkTempDir}"></span>

        <a th:if="${notCompleted == 0 and junkTempDir > 0}"
           th:href="@{/m/stats/junkclean/tempdir}"
           th:text="#{m.stats.junkTempDir.clean}">
        </a>
    </p>

</main>

</body>
</html>
